// Colors
$primary-color: #777;
$secondary-color: #58e1c1;
$accent-color: #fff;
$border-color: #ccc;

// Button Colors
$default-color: #51ddfc;
$error-color: #e4757a;
$info-color: #927bc1;
$success-color: #63cc82;
$warning-color: #fd7856;

// Breakpoints
$break-m: 768px;
