/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
}

.row {
  @include flex-col;
  padding: 1em 10px;
}

[class^="col"] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
}

// Theme colors

$themes: (
  1: #927bc1,
  2: #fd7856,
  3: #deb2ee,
  4: #7ee6fd,
  5: #88d9a0,
  6: #4da2bb,
  7: #ec9fa3,
  8: #fd9f85,
  9: #e4757a,
  10: #63cc82,
  11: $default-color,
  12: #80e8d1,
);

@each $theme, $color in $themes {
  .theme.col-#{$theme} {
    background-color: $color;
  }
}

.card {
  flex-basis: 100%;
}
