/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media (min-width: $break-m) {
  .container {
    max-width: 1400px;
    @include align-block;
  }

  .centered {
    @include align-block;
  }

  .row {
    flex-direction: row;
  }

  [class^="col"] {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }

  [class^="col"] + [class^="col"] {
    margin-left: 10px;
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      flex-basis: $i * 8.33333333333%;
    }
  }
  .nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    &-link {
      flex-basis: 100px;
    }
  }

  .btn {
    padding: 10px 30px;
  }

  .btn + .btn {
    margin-left: 10px;
  }

  .logo {
    margin-left: initial;
    margin-right: initial;
  }
}
